{% extends "admin/base.html" %}

{% load static %}

{% block title %}{{ title }} | {{ site_title|default:_('Django site admin') }} {% endblock %}
{% block extrastyle %}
    <link rel="stylesheet" type="text/css" href="{% static "admin_color.css" %}"/>
{% endblock %}

{% block branding %}
<h1 id="site-name">
    <a href="{% url 'admin:index' %}">
        <img src="{% static '178px-Django_Logo.png' %}" height="100px" />
    </a>

</h1>
{% endblock %}
{% block extrahead %}
        <link rel="shortcut icon" href="{% static 'favicon2.ico'  %}" />
{% endblock %}


{% block nav-global %}{% endblock %}