<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<form>
<h1> Детализация товара: </h1>
{% if item %}
        Продукт: {{item.name}}, Цена:{{item.price}} kgs
{% else %}
    <p>No purchases are available.</p>

{% endif %}
</form>

<h3> Все покупатели купившие {{item.name}}: </h3>
<form>
    {% if purchase_detail %}
            {% for purchase in purchase_detail %}
                    {{purchase.name}}
            {% endfor %}
    {% else %}
        <p>No purchases are available.</p>

    {% endif %}
</form>
</body>
</html>