
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
{% if items %}
    <ul>
        <h1> Информация обо всех item</h1>
    {% for item in items %}

        <p>Имя продукта: <i> {{ item.name}} Цена: {{item.price}}</i> </p>

    {% endfor %}
    </ul>
{% else %}
    <p>No items are available.</p>
{% endif %}
</body>
</html>
